<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gemboedu.elhuarenito">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElHuarenito"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.PostActivity"
            android:parentActivityName=".activities.RemediosCaserosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RemediosCaserosActivity" />
        </activity>
        <activity
            android:name=".activities.ProcesoActivity"
            android:parentActivityName=".activities.RemediosCaserosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RemediosCaserosActivity" />
        </activity>
        <activity
            android:name=".activities.PreventivasActivity"
            android:parentActivityName=".activities.RemediosCaserosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RemediosCaserosActivity" />
        </activity>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CovidActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".activities.VideosActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity android:name=".activities.DescriptionActivity" />
        <activity
            android:name=".activities.RemediosCaserosActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>